*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
form{
    background-color: rgba(5, 5, 151, 0.822);
    min-width: 300px;
    max-width: 95%;
    width: 400px;
    margin: 20px auto;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
form h2{
 background: darkblue;
 width: 100%;
 text-align: center;
 border-radius: 10px 10px 0 0;
 color: white;
 padding: 10px;
}
#myForm{
    display: grid;
    row-gap: 20px;
    padding: 20px 0;
}
#myForm input{
    min-width: 250px;
    padding: 10px;
    margin: auto;
    background: #fff;
    border: none;
    border-radius: 5px;
}
form button{
    padding: 10px 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 7px;
    background: green;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}

/* MON TABLEAU PRINCIPALE */
.table{
    width: 95%;
    margin: auto;
    display: grid;
    row-gap: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}
.table button{
    background-color: transparent;
    border: none;
}

.title{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 5px 10px;
    border-radius: 10px 10px 0 0;
    background-color: beige;
}
.title > div{
    display: flex;
}
.title h2 span{
    font-size: 14px;
    background-color: whitesmoke;
    padding: 3px;
    border-radius: 5px;
}
.title button{
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    position: relative;
}
.title button span{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: grey;
    color: beige;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.title button i{
    margin-right: 5px;
}
.title .recherche {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #fff;
}
.title .recherche input::placeholder{
    color: black;
}
.title .recherche input{
    height: 100%;
    border: none;
    border-radius: 5px;
}
.title .recherche input:focus{
    outline: none;
}

table{
    border-collapse: collapse;
}
table td{
    padding: 5px 10px;
    font-size: 18px;
    text-transform: capitalize;
}
td:first-child{
    width: 20px;
    text-align: center;
}
thead td, tbody td:nth-child(3){
    text-transform: uppercase;
}
thead td:last-child{
    text-align: center;
}
thead tr{
    border-bottom: 1px solid ;
}
tbody{
    background: rgba(248, 244, 244, 0.596);
    border: none;
}
tbody tr:last-child td:last-child{
    border-radius: 0 0 10px 0;
}
tbody tr:last-child td:first-child{
    border-radius: 0 0 0 10px;
}
tbody tr{
    transition: 0.3s;
}
tbody tr:hover{
    transform: scale(1.008);
    background-color: #fff;
}

tbody td:last-child{
    display: flex;
    justify-content: space-around;
}


/*
#closeModal{
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
    position: absolute;
    top: 10px;
    left: 40px;
    background: none;
    color: #000;
    transition: 0.3s;
}

#closeModal:hover{
    transform: translateX(-10px);
}

.modal-container .table{
    margin: 30px auto;
}
.fermer{
    position: absolute;
    right: 50px;
    bottom: 15px;
    padding: 5px;
    background: red;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
}
.fermer:hover{
    transform: scale(1.1);
} */