body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    cursor: pointer;
}
#search{
    width: 30vw;
    display: flex;
    align-self: flex-end;
    border:solid gray;
    border-width: 0 0 2px 2px;
    border-radius: 2px 20px 2px 20px;
    padding: 5px 10px;
}
#search:focus,#search:hover{
    outline-color: gray;
    background-color: green;
    color: white;
}
table{
    width: 80vw;
    border-collapse: collapse;
    border: 1px gray solid;
    margin-top: 15px;
    text-align: center;
}
thead{
    background-color: green;
    color: white;
    font-size: 24px;
    height: 50px;
}
tbody tr:nth-child(even){
    background-color: gray;
}
tbody tr td:last-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
    color: white;
}
tbody tr td button{
    border: none;
    padding: 6px;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
}
tbody tr td button:nth-child(1){
    background-color: green;
}
tbody tr td button:nth-child(2){
    background-color: blue;
}
tbody tr td button:nth-child(3){
    background-color: red;
}
.myBtn{
    display: flex;
    justify-content: end;
}
#ajouter, #reset{
    padding: 5px;
    margin: 10px;
    border: 0;
    color: whitesmoke;
    border-radius: 5px;
}
#ajouter{
    background-color: royalblue;
}
#reset{
    margin-right: 0;
    background-color: red;
}
#error p{
    color: red;
    font-size: 28px;
    text-align: center;
}
#container{
    display: flex;
    flex-wrap: wrap;
}
#container p{
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 18px;
    line-height: 14px;

}
tbody td:nth-child(2){
   text-transform: uppercase;
}
tbody td:first-child{
    text-transform: capitalize;
}


/* MODAL */
.modal-container{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}
#overley{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
}
#modal{
    width: 90%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#closeModal{
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    font-size: 9px;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    background: #ff365e;
    color: #fff;
}
fieldset{
    display: grid;
    row-gap: 20px;
}
fieldset>div{
    display: grid;
    row-gap: 10px;
}
#infoNom, #infoNote{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.inputD{
    display: grid;
}
fieldset>div input{
    border: 0;
    background: rgba(128, 128, 128, 0.329);
    border-radius: 5px;
}
